body {
    background-color: rgb(26, 26, 25);
}

h1 {
    text-align: center;
    margin-right: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    font-style: italic;
    color: rgb(157, 61, 80);
}

#submit{
    width: 50%;
    padding: 8px 9px;
    margin: 8px 0;
    margin-left: 34%;
    box-sizing: border-box;
    border-radius: 25px 25px 25px 35px ;
    font-family: monospace;
    font-size: 120%;
}

input[type=text]{
    height: 45px;
    width: 30%;
    font-size: 20px;
    font-style: italic;
    padding: .1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background-color: rgb(200, 219, 246);
    padding: 8px 8px;
    width: 20%;
    height: 50px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: rgb(180, 107, 121);
    color: rgb(174, 223, 243);
    cursor: pointer;
  }


#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    text-align: center;
    margin: 50px auto;
    padding: 0;
}


